
<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<solver>
    <solutionClass>main.java.RunData.ShiftList</solutionClass>
    <entityClass>main.java.RunData.Shift</entityClass>
    
  <environmentMode>NON_REPRODUCIBLE</environmentMode>

    <scoreDirectorFactory>
<!--        <easyScoreCalculatorClass>Rules/RotaConstraintsJava</easyScoreCalculatorClass>-->
        
        <scoreDrl>main/resources/Rules/RotaConstraints1.drl</scoreDrl>
    </scoreDirectorFactory>
    
    <termination>
        <spentLimit>PT30S</spentLimit>
    </termination>


</solver>
