
<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<solver>
    <solutionClass>main.java.RunData.ShiftList</solutionClass>
    <entityClass>main.java.RunData.Shift</entityClass>
    
  <environmentMode>NON_REPRODUCIBLE</environmentMode>

    <scoreDirectorFactory>
<!--        <easyScoreCalculatorClass>Rules/RotaConstraintsJava</easyScoreCalculatorClass>-->
        
        <scoreDrl>/Rules/RotaConstraints1.drl</scoreDrl>
    </scoreDirectorFactory>
    

  
   <constructionHeuristic>
  <constructionHeuristicType>FIRST_FIT</constructionHeuristicType>
  </constructionHeuristic>
<localSearch>
       <termination>
<!--   2 minutes and 30 seconds in ISO 8601 format P[n]Y[n]M[n]DT[n]H[n]M[n]S -->
  <unimprovedSpentLimit>PT6H0M3S</unimprovedSpentLimit>
  
  </termination>
   <acceptor>
  <simulatedAnnealingStartingTemperature>2hard/100soft</simulatedAnnealingStartingTemperature>
  <entityTabuSize>7</entityTabuSize>
   </acceptor>
  <forager>
  <acceptedCountLimit>3</acceptedCountLimit>
  </forager>
</localSearch>
<localSearch>
       <termination>
  <unimprovedSpentLimit>PT6H0M3S</unimprovedSpentLimit>
  
  </termination>
   <acceptor>
       <stepCountingHillClimbingSize>500</stepCountingHillClimbingSize>
  <entityTabuSize>7</entityTabuSize>
   </acceptor>
  <forager>
  <acceptedCountLimit>1</acceptedCountLimit>
  </forager>
</localSearch>
</solver>
